@model VDolgah.Models.PasswordChanger

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>PasswordChanger</legend>

            @Html.HiddenFor(model => model.userId)

        <div class="editor-label">
            Старый пароль
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.oldPass)
        </div>

        <div class="editor-label">
            Новый пароль
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPass)
        </div>

        <div class="editor-label">
           Подтвердите пароль
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.confirm)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>    
            @if (ViewBag.Error != null)
            {
                <td class="er"> @ViewBag.Error </td>
            }
        
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
