@model VDolgah.user

@{
    ViewBag.Title = "ChangeData";
}

<h2>ChangeData</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>user</legend>

        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.email)

        <div class="editor-label">
            @Html.LabelFor(model => model.login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.login)
            @Html.ValidationMessageFor(model => model.login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.first_name)
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.ActionLink("Сменить пароль", "ChangePassword", null, new { @class = "button" })
        </div>
        <p>
            <input type="submit" value="Save" />
            @if (ViewBag.Error != null)
            {
                <td class="er">
                    @ViewBag.Error
                </td>
            }
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
