@model VDolgah.user
@using VDolgah;
@{
    user user = Model as user;
    bool sessionUser = false;
    ViewBag.Title = "Персональный кабинет";
    if(Session["user"] == null)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
    else if(user == null)
    {
        sessionUser = true;
        user = Session["user"] as user;
    }
}

<div>
    <h2>@user.first_name @user.last_name
    @if (sessionUser)
    {
        <small >
        <a class="btn btn-default btn-xs" href="/Account/ChangeData">
            <span class="glyphicon glyphicon-pencil"></span>
            Змінити дані
        </a>
        </small>
    }
    </h2>
</div>
@if (sessionUser)
{ 
    <div class ="create-group">
        @Html.ActionLink("Создать группу", "Create", "Group", null, new { @class = "btn btn-default" })
    </div>
    if (ViewBag.GroupList != null)
    {
        <div class="list-group">
            @foreach(VDolgah.Models.GroupWrapper group in ViewBag.GroupList)
            {
                <div class="list-group-item" onclick="location.href = '@(Url.Action("Index", "Group", new { group_id = group.Group.idgroups }))'">
                    <td class="gr-row-elem1">@group.Group.name</td>
                    <td class="gr-row-elem2 users-count"> <span style="float:right">@group.Group.users.Count </span></td>
                </div>
            }
        </div>
    }
}
else
{
    <p>account</p>
}
