@model VDolgah.user
@using VDolgah;
@{
    user user = Model as user;
    bool sessionUser = false;
    ViewBag.Title = "Персональный кабинет";
    if(Session["user"] == null)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
    else if(user == null)
    {
        sessionUser = true;
        user = Session["user"] as user;
    }
}

<h2>@user.first_name @user.last_name</h2>
@if (sessionUser)
{
    @Html.ActionLink("ред. данные", "ChangeData", "Account");
    <div class ="create-group">
        @Html.ActionLink("Создать группу", "Create", "Group", null, new { @class = "button" })
    </div>
    if (ViewBag.GroupList != null)
    {
        <table class="group-list">
            @foreach(VDolgah.Models.GroupWrapper group in ViewBag.GroupList)
            {
                <tr class="group-elem" onclick="location.href = '@(Url.Action("Index", "Group", new { group_id = group.Group.idgroups }))'">
                    <td class="gr-row-elem1">@group.Group.name</td>
                    <td class="gr-row-elem2 users-count"> <span style="float:right">@group.Group.users.Count </span></td>
                </tr>
            }
        </table>
    }
}
else
{
    <p>account</p>
}
