@{
    ViewBag.Title = "Регистрация";
}
@model VDolgah.user

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (ViewBag.Error != null)
    {
        <style>
            input, textarea {
                border-color : red;
            }
            tr.er {
                color :red;
            }
        </style>
    }
    Html.HiddenFor((x) => x.id);
    <table>
    <tr>
        <td> Email
        </td>
        <td>
        @Html.EditorFor((x) => x.email)
            </td>
    </tr>
    <tr>
        <td> Имя
        </td>
        <td>
        @Html.EditorFor((x) => x.name)
            </td>
    </tr>
    <tr>
        <td> Пароль
        </td>
        <td>
        @Html.PasswordFor((x) => x.password_hesh)
            </td>
    </tr>
    <tr>
        <td> Подтвердите пароль
        </td>
        <td>
        @Html.PasswordFor((x) => x.confirm_password)
            </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        <input type="submit"  value="Регистрация"/>
            </td>
    </tr>
    @if (ViewBag.Error != null)
    {
        <tr class="er">
           <td>
        </td> <td>
            @Html.Label((string)ViewBag.Error) 
            </td>
        </tr>
    }
    </table>
}