@{
    ViewBag.Title = "Домашняя страница";
    ViewBag.Link = "location.href = \'@(Html.ActionLink(\"LOL\",\"Register\"))\'";
}
@model VDolgah.user
@{
        if(Session["user"] != null)
        {
            Response.Redirect(Url.Action("Login","Account"));
        }
}
@using (Html.BeginForm())
{
    if (ViewBag.ErrorMessage != null)
    {
        <style class="">
            input, textarea {
                border-color : red;
            }
            td.er {
                color :red;
            }
        </style>
    }
    <table>
        <tr class="pager">
            <td>
                Email или логин
            </td>
            <td>
                @Html.EditorFor((x) => x.email)
            </td>
        </tr>
        <tr class="pager">
            <td>
                Пароль
            </td>
            <td>
                @Html.PasswordFor((x) => x.password_hash)
            </td>
        </tr>
        <tr class="pager">
            <td>  
            </td>
            <td>
                <input type="submit" value="Логин"/>
                @Html.ActionLink("Регистрация", "Register", null, new { @class = "button" })
            </td>
        </tr>
        @if (ViewBag.ErrorMessage != null)
            {
                <tr> <td> </td><td class="er">
                    @Html.Label((string)ViewBag.ErrorMessage) 
                    </td>
                </tr>
            }
    </table>
}