@model VDolgah.group
@{
    ViewBag.Title = "Index";
    VDolgah.DbEntities db = VDolgah.DbEntities.Instance;
}
<script> var gr_id = @Model.idgroups </script>
<script src="@Url.Content("/Scripts/jquery-1.8.2.min.js")">  </script>
<script src="@Url.Content("/Scripts/group_controller.js")">   
</script>
<h2>Группа: @Model.name</h2>
<a id="triger" onclick="triger()">Изменить имя</a>
<div id="change_name">
    @using (Html.BeginForm("ChangeName", "Group", FormMethod.Post))
    {
        <input type="hidden" value="@Model.idgroups" name="groupId" />
        <input value="Новое имя" name="newName" />
        <input type="submit" value="Изменить" />
    }
</div>
<div class="add-user">
    <h3> Добавить пользователя</h3>
    <input type="text" id="search-box"  onfocus="show_result()" />
    <div class="add-user" id="results"> </div>
    
</div>
<h3>Учасники</h3>
<table class="group-user-list">
@foreach (VDolgah.user user in Model.users)
{
    VDolgah.debt debt = null;
    string color = "";
    int value = 0;
    if((debt = user.debts1.Where((x) => x.column == (Session["user"] as VDolgah.user).id).FirstOrDefault()) != null)
    {
        value = (int) debt.value;
        color = "green";
    }
    else if ((debt = user.debts.Where((x) => x.row == (Session["user"] as VDolgah.user).id).FirstOrDefault()) != null)
    {
        value = -(int)debt.value;
        color = "red";
    }
    else
    {
        value = 0;   
    }
    <tr class="elem">
        <td> @(user.first_name + " " + user.last_name)</td>
        <td style="color:@color"> @value </td>
    </tr>
}
</table>

