@model VDolgah.group
@{
    ViewBag.Title = "Index";
    VDolgah.DbEntities db = VDolgah.DbEntities.Instance;
    decimal debt_sum = 0.0M;
}
@Styles.Render("~/Content/css")
<script> var gr_id = @Model.idgroups </script>
<script src="@Url.Content("/Scripts/jquery-1.8.2.min.js")">  </script>
<script src="@Url.Content("/Scripts/group_controller.js")">  
</script>
<h2>Группа: @Model.name</h2>
<a id="triger" onclick="triger()">Изменить имя</a>
<div id="change_name">
    @using (Html.BeginForm("ChangeName", "Group", FormMethod.Post))
    {
        <input type="hidden" value="@Model.idgroups" name="groupId" />
        <input value="Новое имя" name="newName" />
        <input type="submit" value="Изменить" />
    }
</div>
@if(Model.creator == (Session["user"] as VDolgah.user).id)
{
    
<div class="add-user">
    <h3> Добавить пользователя</h3>
    <input type="text" id="search-box"  onfocus="show_result()" />
    <div class="add-user" id="results"> </div>
    
</div>
}
<h3>Учасники</h3>
<table class="group-user-list">
@foreach (VDolgah.user user in Model.users)
{
    VDolgah.debt debt = null;
    string color = "";
    decimal value = 0;
    if((debt = user.debts1.Where((x) => x.column == (Session["user"] as VDolgah.user).id).FirstOrDefault()) != null)
    {
        value =  debt.value.Value;
        color = "green";
        debt_sum += value;
    }
    else if ((debt = user.debts.Where((x) => x.row == (Session["user"] as VDolgah.user).id).FirstOrDefault()) != null)
    {
        value = -debt.value.Value;
        color = "red";
        debt_sum += value;
    }
    else
    {
        value = 0;
        color = "black";  
    }
    <tr class="elem">
        <td class="elem-td"><span class="user-name" onclick="location.href = '@Url.Action("Index", "DebtLog", new{ group_id = Model.idgroups, user_id = user.id })'"> @(user.first_name + " " + user.last_name)<span/></td>
        <td class="elem-td" style="color:@color" id="val"> @value.ToString("G4") </td>
        <td class="elem-td"> <input class="check" id="@user.id" type="checkbox"/> </td>
        @if(value > 0)
        {
            <td class="elem-td"> <div class="changer"> 
                    <form id="id-@user.id" action="@Url.Action("ChangeDebt")">   
                        <input type="hidden" name="group_id" value="@Model.idgroups"/>              
                        <input type="hidden" name="row" value="@debt.row"/>
                        <input type="hidden" name="column" value="@debt.column"/>
                        <input type="text" name="change_value" value="@value.ToString("G4")" style="width:50px; height:20px; float:left"/>
                        <input type="submit" value="" id="change-debt"  />
                    </form>
                 </div> 
            </td>
        }
    </tr>
}
    <tr>
        @{ string sum_color = (debt_sum > 0) ? "green" : "red"; }
        <td><b>Сума ваших долгов:</b></td>
        <td> <span style="color:@sum_color">@debt_sum.ToString("G4")</span></td>
    </tr>
</table>

<div class="add-debt">
    @using (Html.BeginForm("AddDebt", "Group", FormMethod.Post, new { id = "form1" }))
    {
        @Html.TextBox("summ", "0.0", new { id = "summ"})
        <br /> 
        @Html.Hidden("group_id", Model.idgroups)
        <p>Коментарий:</p> @Html.TextArea("comment", new{ id = "comment" })
        <br /> 
        <input type="submit" onclick="handleAddDebt()" value="Добавить"/>
    }
</div>
<div class="alg">
    @Html.ActionLink("Свести долги", "Minimize", new { group_id = Model.idgroups }, new { @class = "button" })
</div>

